<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <div class="log-in">
          <% if user_signed_in? %>
          <p>こんにちは <%= link_to current_user.name, user_path(current_user) %> さん</p>
          <% end %>
          
      </div>
    <div class="card__wrapper">
      <%= render partial: "prototypes/prototype", collection: @prototypes %>
    </div>
  </div>
</main>
